@page
@model T3.Areas.Courses.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.CourseId" />
            <div class="form-group">
                <label asp-for="Course.CourseId" class="control-label"></label>
                <div>@Model.Course.CourseId</div>
            </div>

            <div class="form-group">
                <label asp-for="Course.OriginCourseId" class="control-label"></label>
                <div>@Model.Course.OriginCourseId</div>
            </div>
            <div class="form-group">
                <label asp-for="Course.TanentId" class="control-label"></label>
                <div>@Model.Course.TanentId</div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Course.IsCyclic" /> @Html.DisplayNameFor(model => model.Course.IsCyclic)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Course.StartTime" class="control-label"></label>
                <div>@Model.Course.StartTime.ToShortDateString()</div>
                <input asp-for="Course.StartTime" class="form-control" />
                <span asp-validation-for="Course.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.EndTime" class="control-label"></label>
                <input asp-for="Course.EndTime" class="form-control" />
                <span asp-validation-for="Course.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    if (@Model.Course.CourseAssignments != null)
                    {
                        <label class="control-label">Instructor</label>
                        foreach (var ca in Model.Course.CourseAssignments)
                        {
                            <div>@ca.Staff.Name</div>

                        }

                    }
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

