@model IEnumerable<T3.Models.Tenant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desctiption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desctiption)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TenantId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TenantId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TenantId">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>
<a asp-action="RemoveAll" class="btn btn-danger">Remove All</a>
